name: shell-presubmit
on:
  push:
    branches: ['master']
  pull_request:
    paths: ['**.sh', '.github/workflows/presubmit-shell.yml']

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: shellcheck
        run: |
          find . -type f -name '*.sh' -print0 | \
            xargs -0 shellcheck --shell=sh
