name: go-presubmit
on:
  push:
    branches: ['master']
  pull_request:
    paths: ['go/**', '.github/workflows/presubmit-go.yml']

defaults:
  run:
    working-directory: go

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: gofmt
        run: test -z "$(gofmt -d .)"
      - name: golint
        run: |
          go get -u golang.org/x/lint/golint
          $(go env GOPATH)/bin/golint -set_exit_status=1 ./...
  
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: go test ./...
